<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>
        URL shrinker
    </h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input type="url" placeholder="url" required name="fullUrl" id="fullUrl" class="form-control mr-2 col">
        <button type="submit" class="btn btn-success">Shrink</button>
    </form>
    <table class="table table-responsive">
        <thead>
            <tr>
            <th>Full Url</th>
            <th>Short Url</th>
            <th>Clicks</th>
        </tr>
        </thead>
       <tbody>
           <% shortUrls.forEach(item =>{ %> 
            <tr>
                <td>
                    <a href="<%= item.full %>"><%= item.full %></a>
                </td>
                <td>
                    <a href="<%= item.short  %>"><%= item.short  %></a>
                </td>
                <td>
                    <%= item.clicks  %>
                </td>
               </tr>

            <% }) %> 
      
       </tbody>

    </table>
</div>
</body>
</html>